.elementor-column {
  position: relative;
  min-height: 1px;
  display: flex;
  flex-direction: column;
}
body {
  scroll-behavior: smooth;
}
.tuning {
  padding-inline-start: 5px !important;
  text-transform: capitalize;

  font-family: "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.tuning > ul > li {
  font-family: "Courier New", Courier, monospace;
}
::marker {
  color: #d4a262;
  border: 3px solid red;
  height: 10px;
}
.zoom {
  object-fit: contain !important;
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked
  .elementor-drop-cap {
  background-color: #818a91;
  color: #fff;
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed
  .elementor-drop-cap {
  color: #818a91;
  border: 3px solid;
  background-color: transparent;
}
.elementor-widget-text-editor:not(.elementor-drop-cap-view-default)
  .elementor-drop-cap {
  margin-top: 8px;
}
.elementor-widget-text-editor:not(.elementor-drop-cap-view-default)
  .elementor-drop-cap-letter {
  width: 1em;
  height: 1em;
}
.elementor-widget-text-editor .elementor-drop-cap {
  float: left;
  text-align: center;
  line-height: 1;
  font-size: 50px;
}
.elementor-widget-text-editor .elementor-drop-cap-letter {
  display: inline-block;
}
.elementor-heading-title {
  padding: 0;
  margin: 0;
  line-height: 1;
}
.elementor-widget-heading
  .elementor-heading-title[class*="elementor-size-"]
  > a {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}
.elementor-widget-heading .elementor-heading-title.elementor-size-small {
  font-size: 15px;
}
.elementor-widget-heading .elementor-heading-title.elementor-size-medium {
  font-size: 19px;
}
.elementor-widget-heading .elementor-heading-title.elementor-size-large {
  font-size: 29px;
}
.elementor-widget-heading .elementor-heading-title.elementor-size-xl {
  font-size: 39px;
}
.elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
  font-size: 59px;
}
.elementor-widget-image {
  text-align: center;
}
.elementor-widget-image a {
  display: inline-block;
}
.elementor-widget-image a img[src$=".svg"] {
  width: 48px;
}
.elementor-widget-image img {
  vertical-align: middle;
  display: inline-block;
}
.elementor-widget-divider {
  --divider-border-style: none;
  --divider-border-width: 1px;
  --divider-color: #2c2c2c;
  --divider-icon-size: 20px;
  --divider-element-spacing: 10px;
  --divider-pattern-height: 24px;
  --divider-pattern-size: 20px;
  --divider-pattern-url: none;
  --divider-pattern-repeat: repeat-x;
}
.elementor-widget-divider .elementor-divider {
  display: flex;
}
.elementor-widget-divider .elementor-divider__text {
  font-size: 15px;
  line-height: 1;
  max-width: 95%;
}
.elementor-widget-divider .elementor-divider__element {
  margin: 0 var(--divider-element-spacing);
  flex-shrink: 0;
}
.elementor-widget-divider .elementor-icon {
  font-size: var(--divider-icon-size);
}
.elementor-widget-divider .elementor-divider-separator {
  display: flex;
  margin: 0;
  direction: ltr;
}
.elementor-widget-divider--view-line_icon .elementor-divider-separator,
.elementor-widget-divider--view-line_text .elementor-divider-separator {
  align-items: center;
}
.elementor-widget-divider--view-line_icon .elementor-divider-separator:after,
.elementor-widget-divider--view-line_icon .elementor-divider-separator:before,
.elementor-widget-divider--view-line_text .elementor-divider-separator:after,
.elementor-widget-divider--view-line_text .elementor-divider-separator:before {
  display: block;
  content: "";
  border-bottom: 0;
  flex-grow: 1;
  border-top: var(--divider-border-width) var(--divider-border-style)
    var(--divider-color);
}
.elementor-widget-divider--element-align-left
  .elementor-divider
  .elementor-divider-separator
  > .elementor-divider__svg:first-of-type {
  flex-grow: 0;
  flex-shrink: 100;
}
.elementor-widget-divider--element-align-left
  .elementor-divider-separator:before {
  content: none;
}
.elementor-widget-divider--element-align-left .elementor-divider__element {
  margin-left: 0;
}
.elementor-widget-divider--element-align-right
  .elementor-divider
  .elementor-divider-separator
  > .elementor-divider__svg:last-of-type {
  flex-grow: 0;
  flex-shrink: 100;
}
.elementor-widget-divider--element-align-right
  .elementor-divider-separator:after {
  content: none;
}
.elementor-widget-divider--element-align-right .elementor-divider__element {
  margin-right: 0;
}
.elementor-widget-divider:not(.elementor-widget-divider--view-line_text):not(
    .elementor-widget-divider--view-line_icon
  )
  .elementor-divider-separator {
  border-top: var(--divider-border-width) var(--divider-border-style)
    var(--divider-color);
}
.elementor-widget-divider--separator-type-pattern {
  --divider-border-style: none;
}
.elementor-widget-divider--separator-type-pattern.elementor-widget-divider--view-line
  .elementor-divider-separator,
.elementor-widget-divider--separator-type-pattern:not(
    .elementor-widget-divider--view-line
  )
  .elementor-divider-separator:after,
.elementor-widget-divider--separator-type-pattern:not(
    .elementor-widget-divider--view-line
  )
  .elementor-divider-separator:before,
.elementor-widget-divider--separator-type-pattern:not(
    [class*="elementor-widget-divider--view"]
  )
  .elementor-divider-separator {
  width: 100%;
  min-height: var(--divider-pattern-height);
  -webkit-mask-size: var(--divider-pattern-size) 100%;
  mask-size: var(--divider-pattern-size) 100%;
  -webkit-mask-repeat: var(--divider-pattern-repeat);
  mask-repeat: var(--divider-pattern-repeat);
  background-color: var(--divider-color);
  -webkit-mask-image: var(--divider-pattern-url);
  mask-image: var(--divider-pattern-url);
}
.elementor-widget-divider--no-spacing {
  --divider-pattern-size: auto;
}
.elementor-widget-divider--bg-round {
  --divider-pattern-repeat: round;
}
.rtl .elementor-widget-divider .elementor-divider__text {
  direction: rtl;
}
.e-con-inner > .elementor-widget-divider,
.e-con > .elementor-widget-divider {
  width: var(--container-widget-width);
  --flex-grow: var(--container-widget-flex-grow);
}
.enlace {
  width: 100%;
  height: 100%;
  position: absolute;
}
.elementor-13 .elementor-element.elementor-element-44e62c7 {
  text-align: center;
  color: var(--e-global-color-secondary);
  font-family: "Cardo", Sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 19px;
  letter-spacing: 0.1em;
}
body
  > div
  > header
  > div.is-layout-constrained.wp-block-group.has-raft-bg-alt-background-color.has-background
  > p {
  font-weight: 400;
  letter-spacing: normal;
  text-transform: none;
}

body
  > div
  > div:nth-child(3)
  > div
  > div
  > section.elementor-section.elementor-top-section.elementor-element.elementor-element-b6684f7.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default
  > div
  > div
  > div
  > div.elementor-element.elementor-element-44e62c7.elementor-widget.elementor-widget-text-editor
  > div
  > p {
  display: block;
  color: #2c2c2c;
}

body
  > div
  > div:nth-child(3)
  > div
  > div
  > section.elementor-section.elementor-top-section.elementor-element.elementor-element-a3a77da.elementor-section-full_width.elementor-section-height-default.elementor-section-height-default
  > div
  > div
  > div
  > section
  > div
  > div
  > p {
  margin: auto;
  text-align: center;
  text-transform: uppercase;
}
body > div > footer > div {
  overflow: hidden;
}
@media (max-width: 602px) {
  body
    > div
    > header
    > div.is-layout-flex.wp-container-7.wp-block-columns.has-raft-fg-alt-background-color.has-background
    > div.is-layout-flow.wp-block-column.is-vertically-aligned-top {
    display: none;
  }

  #wp-block-search__input-5 {
    width: 110%;
  }
  body
    > div
    > header
    > div.is-layout-flex.wp-container-7.wp-block-columns.has-raft-fg-alt-background-color.has-background {
    padding: 0;
  }
  body > div > header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
  }
  body
    > div
    > header
    > div.is-layout-constrained.wp-block-group.has-raft-bg-alt-background-color.has-background {
    display: flex;
    position: absolute !important;
    top: 30px;
    flex-direction: row-reverse;
    position: absolute;
    gap: 10%;
    left: 20%;
  }
  body
    > div
    > header
    > div.is-layout-constrained.wp-block-group.has-raft-bg-alt-background-color.has-background
    > div {
    margin-block-start: 12px;
  }
  body
    > div
    > header
    > div.is-layout-flex.wp-container-7.wp-block-columns.has-raft-fg-alt-background-color.has-background
    > div:nth-child(3)
    > form
    > div
    > button {
    padding: 13px 20px;
    font-weight: 300;
  }
  body
    > div
    > header
    > div.is-layout-flex.wp-container-7.wp-block-columns.has-raft-fg-alt-background-color.has-background {
    padding: 0 !important;
    z-index: -10;
    margin: 0 0 0 67%;
    align-content: center;
    justify-content: flex-end;
  }
  body
    > div
    > div.is-layout-flow.wp-block-group.has-raft-bg-alt-background-color.has-background {
    display: none;
  }
  body
    > div
    > header
    > div.is-layout-constrained.wp-block-group.has-raft-bg-alt-background-color.has-background
    > p {
    font-size: 36px !important;
  }
  #title,
  #titulo {
    font-family: "Belleza", Sans-serif;
    font-size: 29px;
    font-weight: 500;
    text-transform: none;
  }
  body
    > div
    > div:nth-child(3)
    > div
    > div
    > section
    > div
    > div
    > div
    > div.elementor-element.elementor-element-7f79acd.elementor-align-center.elementor-widget.elementor-widget-button
    > div
    > div
    > a {
    width: 90%;
    font-size: 11px;
    overflow: hidden;
  }
  body > div > footer > div > div {
    flex-direction: column;
  }
  .enlaceLoco {
    width: 5rem !important;
  }
  .tituloGod {
    font-size: 0.88rem;
  }
}
.none {
  display: none !important;
}

.imputGod {
  width: 70%;
  font-size: 70rem;

  margin-bottom: 25px;
  margin-top: 10px;
  padding: 10px;
}
.buscador {
  pointer-events: auto;
  overflow: auto;
  position: relative;
  z-index: 100;
  width: 100vw;
  height: 100%;
  bottom: 0;
  position: absolute;
  background-color: white;
}
.enlaceLoco {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 12rem;
  height: 100%;
  text-align: center;
  gap: 15px;
  flex-wrap: wrap;
}
.section,
.sectionP {
  top: 10%;
  position: sticky;

  z-index: 1100;
  width: 100%;
  padding: 50px;
  display: flex;

  align-content: center;
  justify-content: center;
  align-items: center;

  margin: auto;
}
.sectionP {
  padding: 18px;
  top: 0;
  padding-top: 0;
  z-index: 1200;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.section2 {
  display: flex;

  flex-wrap: wrap;

  align-content: center;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  background-color: #fff;
  padding-top: 5%;
  padding-bottom: 10%;
}
.elementor-section .elementor-container {
  flex-wrap: wrap !important;
}
.imagen-buscador {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 12px;
}
.buscador > section > section > a > p {
  text-align: center;
}
#lupa2 {
  padding: 4px;
  width: 30%;
  text-align: center;

  color: #3127235c;
}
.icono-lupa {
  text-align: center;
  margin: auto;
  color: #3127235c;
  padding: 0.5rem;
}
#mainDiv
  > header
  > div.is-layout-flex.wp-container-7.wp-block-columns.has-raft-fg-alt-background-color.has-background
  > div:nth-child(3) {
  display: flex;
  flex-direction: row-reverse;
  z-index: 100000;
  padding: 4px;
  width: 50%;
  text-align: center;
  height: 100%;
}

.loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  background-color: #fff;
  z-index: 900;
}
#preloader_1 {
  position: relative;
  z-index: 1000;
  margin: auto;
}
#preloader_1 span {
  display: block;
  bottom: 0px;
  width: 9px;
  height: 5px;
  background: #2c2c2c;
  position: absolute;
  animation: preloader_1 2.2s infinite ease-in-out;
  font-size: 28px;
}
#preloader_1 span:nth-child(2) {
  left: 20px;
  animation-delay: 0.2s;
}
#preloader_1 span:nth-child(3) {
  left: 40px;
  animation-delay: 0.4s;
}
#preloader_1 span:nth-child(4) {
  left: 60px;
  animation-delay: 0.6s;
}
#preloader_1 span:nth-child(5) {
  left: 80px;
  animation-delay: 0.8s;
}
#preloader_1 span:nth-child(6) {
  left: 100px;
  animation-delay: 1s;
}
#preloader_1 span:nth-child(7) {
  left: 120px;
  animation-delay: 1.2s;
}
#preloader_1 span:nth-child(8) {
  left: 140px;
  animation-delay: 1.4s;
}
#preloader_1 span:nth-child(9) {
  left: 160px;
  animation-delay: 1.6s;
}
#preloader_1 span:nth-child(10) {
  left: 180px;
  animation-delay: 1.8s;
}
@keyframes preloader_1 {
  0% {
    height: 5px;
    transform: translateY(0px);
    background: #d1a7e2;
  }
  25% {
    height: 30px;
    transform: translateY(15px);
    background: #8fc1e2;
  }
  50% {
    height: 5px;
    transform: translateY(0px);
    background: #dabee6;
  }
  100% {
    height: 5px;
    transform: translateY(0px);
    background: #d0b1dc61;
  }
}
