.elementor-46
  .elementor-element.elementor-element-992c8e0
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-46 .elementor-element.elementor-element-992c8e0 {
  padding: 25px 0px 0px 0px;
}
.elementor-46
  .elementor-element.elementor-element-3f04479
  > .elementor-element-populated {
}
.elementor-46
  .elementor-element.elementor-element-3f04479
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-46 .elementor-element.elementor-element-7aec07b img {
  height: 250px;
  object-fit: cover;
  border-radius: 20px 20px 20px 20px;
}
.elementor-46 .elementor-element.elementor-element-36310ce {
  column-gap: 0px;
  text-align: center;
  color: var(--e-global-color-secondary);
  font-family: "Cardo", Sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 26px;
  letter-spacing: 0.1em;
}
.elementor-46
  .elementor-element.elementor-element-36310ce
  > .elementor-widget-container {
  margin: -10px 0px 16px 0px;
}
.elementor-46
  .elementor-element.elementor-element-333df0f
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 5px 0px 5px;
  --e-column-margin-right: 5px;
  --e-column-margin-left: 5px;
}
.elementor-46
  .elementor-element.elementor-element-333df0f
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-46 .elementor-element.elementor-element-efd8d7d img {
  height: 250px;
  object-fit: cover;
  border-radius: 20px 20px 20px 20px;
}
.elementor-46 .elementor-element.elementor-element-358a3fd {
  column-gap: 0px;
  text-align: center;
  color: var(--e-global-color-secondary);
  font-family: "Cardo", Sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 26px;
  letter-spacing: 0.1em;
}
.elementor-46
  .elementor-element.elementor-element-358a3fd
  > .elementor-widget-container {
  margin: -10px 0px 16px 0px;
}
.elementor-46
  .elementor-element.elementor-element-274755f
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 10px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 10px;
}
.elementor-46
  .elementor-element.elementor-element-274755f
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-46 .elementor-element.elementor-element-284e7e7 img {
  height: 250px;
  object-fit: cover;
  border-radius: 20px 20px 20px 20px;
}
.elementor-46 .elementor-element.elementor-element-287aee4 {
  column-gap: 0px;
  text-align: center;
  color: var(--e-global-color-secondary);
  font-family: "Cardo", Sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 26px;
  letter-spacing: 0.1em;
}
.elementor-46
  .elementor-element.elementor-element-287aee4
  > .elementor-widget-container {
  margin: -10px 0px 16px 0px;
}
.elementor-46
  .elementor-element.elementor-element-7cf9161
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 10px 0px 0px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 0px;
}
.elementor-46
  .elementor-element.elementor-element-7cf9161
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-46 .elementor-element.elementor-element-b248d13 img {
  height: 250px;
  object-fit: cover;
  border-radius: 20px 20px 20px 20px;
}
.elementor-46 .elementor-element.elementor-element-25189f0 {
  column-gap: 0px;
  text-align: center;
  color: var(--e-global-color-secondary);
  font-family: "Cardo", Sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 26px;
  letter-spacing: 0.1em;
}
.elementor-46
  .elementor-element.elementor-element-25189f0
  > .elementor-widget-container {
  margin: -10px 0px 16px 0px;
}
.elementor-46
  .elementor-element.elementor-element-1d80bef
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 10px 0px 0px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 0px;
}
.elementor-46
  .elementor-element.elementor-element-1d80bef
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-46 .elementor-element.elementor-element-eae689a img {
  height: 250px;
  object-fit: cover;
  border-radius: 20px 20px 20px 20px;
}
.elementor-46 .elementor-element.elementor-element-090525f {
  column-gap: 0px;
  text-align: center;
  color: var(--e-global-color-secondary);
  font-family: "Cardo", Sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 26px;
  letter-spacing: 0.1em;
}
.elementor-46
  .elementor-element.elementor-element-090525f
  > .elementor-widget-container {
  margin: -10px 0px 16px 0px;
}
