.elementor-196 .elementor-element.elementor-element-a132cad {
  text-align: center;
  top: 0px;
}
.elementor-196
  .elementor-element.elementor-element-a132cad
  .elementor-heading-title {
  color: #000000;
  font-family: "Belleza", Sans-serif;
  font-size: 45px;
  font-weight: 500;
  text-transform: none;
}
.elementor-196
  .elementor-element.elementor-element-a132cad
  > .elementor-widget-container {
  margin: 0% 0% 0% 0%;
}
body:not(.rtl) .elementor-196 .elementor-element.elementor-element-a132cad {
  left: -214px;
}
body.rtl .elementor-196 .elementor-element.elementor-element-a132cad {
  right: -214px;
}
.elementor-196 .elementor-element.elementor-element-6ac9d6c img {
  height: 40vh;
  object-fit: cover;
}
.elementor-196 .elementor-element.elementor-element-be76d5e {
  text-align: center;
}
.elementor-196
  .elementor-element.elementor-element-be76d5e
  .elementor-heading-title {
  color: var(--e-global-color-65fa7dd);
  font-family: "Georgia", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: lowercase;
  line-height: 19px;
  letter-spacing: 0.1em;
}
.elementor-196
  .elementor-element.elementor-element-be76d5e
  > .elementor-widget-container {
  margin: -10px 0px 16px 0px;
}
.elementor-196 .elementor-element.elementor-element-3a61b08 img {
  height: 40vh;
  object-fit: cover;
}
.elementor-196 .elementor-element.elementor-element-6da0417 {
  text-align: center;
}
.elementor-196
  .elementor-element.elementor-element-6da0417
  .elementor-heading-title {
  color: var(--e-global-color-65fa7dd);
  font-family: "Georgia", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 19px;
  letter-spacing: 0.1em;
}
.elementor-196
  .elementor-element.elementor-element-6da0417
  > .elementor-widget-container {
  margin: -10px 0px 16px 0px;
}
.elementor-196 .elementor-element.elementor-element-2ae1d17 img {
  height: 40vh;
  object-fit: cover;
}
.elementor-196 .elementor-element.elementor-element-a7c1bd0 {
  text-align: center;
}
.elementor-196
  .elementor-element.elementor-element-a7c1bd0
  .elementor-heading-title {
  color: var(--e-global-color-65fa7dd);
  font-family: "Georgia", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 19px;
  letter-spacing: 0.1em;
}
.elementor-196
  .elementor-element.elementor-element-a7c1bd0
  > .elementor-widget-container {
  margin: -10px 0px 16px 0px;
}
.elementor-196 .elementor-element.elementor-element-2a40e59 img {
  height: 40vh;
  object-fit: cover;
}
.elementor-196 .elementor-element.elementor-element-ffc2536 {
  text-align: center;
}
.elementor-196
  .elementor-element.elementor-element-ffc2536
  .elementor-heading-title {
  color: var(--e-global-color-65fa7dd);
  font-family: "Georgia", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 19px;
  letter-spacing: 0.1em;
}
.elementor-196
  .elementor-element.elementor-element-ffc2536
  > .elementor-widget-container {
  margin: -10px 0px 16px 0px;
}
.elementor-196 .elementor-element.elementor-element-1e2ed40 img {
  height: 40vh;
  object-fit: cover;
}
.elementor-196 .elementor-element.elementor-element-c230869 {
  text-align: center;
}
.elementor-196
  .elementor-element.elementor-element-c230869
  .elementor-heading-title {
  color: var(--e-global-color-65fa7dd);
  font-family: "Georgia", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 19px;
  letter-spacing: 0.1em;
}
.elementor-196
  .elementor-element.elementor-element-c230869
  > .elementor-widget-container {
  margin: -10px 0px 16px 0px;
}
.elementor-196 .elementor-element.elementor-element-37d3d27 img {
  height: 40vh;
  object-fit: cover;
}
.elementor-196 .elementor-element.elementor-element-edd11f2 {
  text-align: center;
}
.elementor-196
  .elementor-element.elementor-element-edd11f2
  .elementor-heading-title {
  color: var(--e-global-color-65fa7dd);
  font-family: "Georgia", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 19px;
  letter-spacing: 0.1em;
}
.elementor-196
  .elementor-element.elementor-element-edd11f2
  > .elementor-widget-container {
  margin: -10px 0px 16px 0px;
}
.elementor-196 .elementor-element.elementor-element-8ccf7ea img {
  height: 40vh;
  object-fit: cover;
}
.elementor-196 .elementor-element.elementor-element-698134c {
  text-align: center;
}
.elementor-196
  .elementor-element.elementor-element-698134c
  .elementor-heading-title {
  color: var(--e-global-color-65fa7dd);
  font-family: "Georgia", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 19px;
  letter-spacing: 0.1em;
}
.elementor-196
  .elementor-element.elementor-element-698134c
  > .elementor-widget-container {
  margin: -10px 0px 16px 0px;
}
.elementor-196 .elementor-element.elementor-element-0bc7ffb img {
  height: 40vh;
  object-fit: cover;
}
.elementor-196 .elementor-element.elementor-element-7cc9e8a {
  text-align: center;
}
.elementor-196
  .elementor-element.elementor-element-7cc9e8a
  .elementor-heading-title {
  color: var(--e-global-color-65fa7dd);
  font-family: "Georgia", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 19px;
  letter-spacing: 0.1em;
}
.elementor-196
  .elementor-element.elementor-element-7cc9e8a
  > .elementor-widget-container {
  margin: -10px 0px 16px 0px;
}
@media (max-width: 1024px) {
  .elementor-196
    .elementor-element.elementor-element-a132cad
    .elementor-heading-title {
    font-size: 45px;
  }
  body:not(.rtl) .elementor-196 .elementor-element.elementor-element-a132cad {
    left: 7px;
  }
  body.rtl .elementor-196 .elementor-element.elementor-element-a132cad {
    right: 7px;
  }
  .elementor-196 .elementor-element.elementor-element-a132cad {
    top: -47px;
  }
}
@media (max-width: 767px) {
  .elementor-196
    .elementor-element.elementor-element-a132cad
    .elementor-heading-title {
    font-size: 45px;
  }
}
